.addForm {
  font-family: poppins;
  font-size: 24px;
}

.fileUploadI {
    width: 480px;
    margin-top: -2px;
}


.fileUploadC {
    width: 480px;
    margin-top: 2px;
    
}

#submit {
margin-top: 50px;
margin-left: -170px;
margin-bottom: 50px;
}

.inputForm {
  font-size: 20px;
}


