.addForm {
  font-family: poppins;
  font-size: 16px;
}

.fileUploadI {
    width: 350px;
    margin-top: -2px;
}


.fileUploadC {
    width: 350px;
    margin-top: 2px;
    
}

#submit {
margin-top: 50px;
margin-left: -170px;
margin-bottom: 50px;
}

.inputForm {
  font-size: 14px;
}

.form-col-one{
  width: 46%;
  float:right;
  justify-content: flex-end;
  color: white;
  margin-left: 25px;  
  margin-top: 40px;
  font-size: 16px;
  border-radius: 10px;
} 

.form-col-two{
  width: 45%;
  float:left;
  justify-content: space-around;  
  font-size: 16px;
  margin-top: 40px;
  color: white;
} 


