
:root {
  --primary:#29395a;
  --secondary:#405780;
  --third:#9ab6ff;
  --forth:#ffc885;
  --fith:#f85800;

  --sixth:#30405c;
  --seventh:#4495aa;
  --eighth:#96a4c9;
  --ninth:#f3b546;
  --tenth:#f27659;
}


body {
  height:1040px;

    background-color:  var(--primary);
             
                /* animation: gradient 10s ease infinite; */
  }

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&family=Poppins:wght@200;300;400;500;600&display=swap');


/* /*************Main Page CSS*******************************************************************************************************************/


.mainContainer {
  background-color: white;
  margin: 50px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  height: 800px;
  padding:20px;
  font-family: poppins;
 
}



/* /*************Column 1 - Profile Image and Social Media*******************************************************************************************************************/



.column1 {
  display: inline-block;
  flex-wrap: wrap;
  background-color: var(--seventh);
  width: 30%;
}

.image {
  background-color: var(--seventh);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.socialMedia {
  margin: 20px;
}

.socialSpacing {
  padding: 20px;
}







/* /*************Column 2 Main - Profiler Information - Name, Title*******************************************************************************************************************/

.column2 {
  background-color: white;
  display: inline-block;
  width: 66%;
  border: black solid;
  padding-left: 20px;
  padding-right: 20px;
}




/* /*************Column 2 Section 1 - User input data information form*****************************************************************************************************************/

.column2Section1 {
  background-color:   var(--secondary);
  display: inline-block; 
  /* margin: 20px; */
  /* padding: 20px; */
  align-items: center;
  width: 100%;
  
}

.form-col-one{
  width: 50%;
  float:left;
  justify-content: space-around;  
} 

.add-submit{
  padding-top: 15px;
  padding-left: 15px;
  justify-content: space-between;
}

.sub-entry{
  padding-left: 15px;
}





/* /*************Column 2 Section 2 - View of users input data*****************************************************************************************************************/
.column2Section2 {
  background-color: var(--ninth);
  display: inline-block; 
  align-items: center;
  width: 100%;
  padding-bottom: 20px;

}

.card {

  font-family: poppins;
  font-size: 20px;
  
}

.cols {
  display: flex;
  align-items: center;
}

.col1 {
  width:50%;
}

.col2 {
  width: 50%;
}

.fieldSpace {

  padding-top:20px;
  padding-bottom:20px;
}


.select {

  padding: 50px;
}

